.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.image, .imageWrapper {
	border-radius: 20px;
}

.image {
	width: 100%;
	height: 100%;
	transition: all 1s;
	object-fit: cover;
}

.imageWrapper {
	position: relative;
	width: 50%;
	cursor: pointer;
	overflow: hidden;
	width: 140px;
	height: 140px;
	margin: 10px 10px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 1s ease;
	background-color: #000;
	border-radius: 20px;
}

.imageWrapper:hover .image {
	transform: scale(1.15);
}
.imageWrapper:hover .overlay {
	opacity: 0.4;
}

.list {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding-inline-start: 0;
	margin: 0;
}

.listItem {
	cursor: pointer;
	margin-right: 20px;
	font-size: 24px;
	font-weight: 700;
	color: #c8c8c8;
	transition: all ease-in-out 0.25s;
}

.listItem:hover {
	color: #ff6e6c;
}

@media (min-width: 560px) {
	.imageWrapper {
		width: 180px;
		height: 180px;
	}
}

@media (min-width: 780px) {
	.imageWrapper {
		width: 210px;
		height: 210px;
	}
}

@media (min-width: 1400px) {
	.imageWrapper {
		width: 260px;
		height: 260px;
	}
}
