.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.image {
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	object-fit: cover;
}

.image:hover {
	width: 110%;
	height: 110%;
	filter: brightness(50%);
}

.imageWrapper {
	cursor: pointer;
	overflow: hidden;
	width: 140px;
	height: 140px;
}

.list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.listItem {
	cursor: pointer;
	margin-right: 20px;
	font-size: 24px;
	font-weight: 700;
	color: #c8c8c8;
	transition: all 0.25s;
}

.listItem:hover {
	color: #ff6e6c;
}

.active {
	margin-right: 15px;
}

@media (min-width: 560px) {
	.imageWrapper {
		width: 180px;
		height: 180px;
		margin: 10px 10px;
	}
}

@media (min-width: 780px) {
	.imageWrapper {
		width: 210px;
		height: 210px;
	}
}

@media (min-width: 1400px) {
	.imageWrapper {
		width: 260px;
		height: 260px;
	}
}
