.quote,
.author, .activity {
	letter-spacing: 0.62px;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 18px;
	padding: 0 10px;
	line-height: 36px;
	transition: all 0.3s;
}

.quote {
	font-weight: 500;
	margin-bottom: 20px;
	margin-top: 20px;
}

.author {
	font-weight: 400;
	text-transform: uppercase;
}

.activity {
	font-weight: 300;
	text-transform: capitalize;
}

@media (min-width: 640px) {
	.quote,
	.author, .activity {
		font-size: 22px;
	}
}

@media (min-width: 870px) {
	.quote,
	.author, .activity {
		font-size: 24px;
		padding: 0;
	}
}
