.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.icon {
	color: #ff6e6c;
	font-size: 40px;
	cursor: pointer;
	margin-right: 20px;
	margin-top: 20px;
}

.text {
	color: #808080;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 30px 5px 0 5px;
}

@media (min-width: 800px) {
	.text {
		font-size: 20px;
	}
}

@media (min-width: 1200px) {
	.text {
		font-size: 24px;
	}
}
