.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.face {
	max-width: 100%;
	padding-top: 10px;
	transition: all 0.5s;
}

.text {
	color: #808080;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 30px 5px 0 5px;
}

@media (min-width: 650px) {
	.face {
		border-radius: 10px;
	}
}

@media (min-width: 800px) {
	.text {
		font-size: 20px;
	}
}

@media (min-width: 1200px) {
	.text {
		font-size: 24px;
	}
}
