.list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding-left: 20px;
}

.listItem {
	cursor: pointer;
	margin-right: 20px;
	font-size: 24px;
	font-weight: 500;
	color: #c8c8c8;
	transition: all 0.25s;
}

.listItem:hover {
	color: #ff6e6c;
}

.active {
	margin-right: 15px;
}
