.form {
	display: flex;
	flex-direction: column;
	margin: 70px 0;
}

@media (max-height: 500px) {
	.form {
		margin: 30px 0;
	}
}

.small,
.big {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	border: none;
	border-bottom: 2px solid #edf0f1;
	width: 280px;
	margin: 0 5px;
	transition: all 0.5s;
}

.small:focus,
.big:focus {
	border-color: #ff5b5b;
}

.small {
	margin-bottom: 30px;
	padding: 10px;
}

.big {
	resize: none;
	padding: 0 10px;
}

@media (min-width: 540px) {
	.big {
		width: 520px;
	}
}

@media (min-width: 800px) {
	.big,
	.small {
		text-align: left;
	}
	.big {
		width: 635px;
		margin-right: 40px;
	}
	.small {
		margin-right: 45px;
	}
}
