.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.name, .percents {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.name {
	color: #fff;
	font-size: 25px;
	margin-bottom: 10px;
	transition: all 0.4s;
}

.percents {
	position: relative;
	bottom: 23px;
	color: #000;
	user-select: none;
}

.bar, .insideBar {
	height: 30px;
	border-radius: 20px;
}

.bar {
	background: #fff;
	margin-bottom: 15px;
}

@media (min-width: 800px) {
	.name {
		font-size: 30px;
	}
}
